.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    padding: 20px 0px;
    .header-options {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a {
            color: #133357;
        }
    }
}

@media only screen and (max-width : 320px) {
    .header {
        width: 95%;
        padding: 20px 10px;
        margin: 0 auto;
        justify-content: center;
        .header-options {
            width: 100%;
            a {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (min-width : 321px) and (max-width : 480px) {
    .header {
        width: 95%;
        padding: 20px 10px;
        margin: 0 auto;
        justify-content: center;
        .header-options {
            width: 100%;
            a {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .header {
        .header-options {
            width: 60%;
        }
    }
}